* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  nav {
    height: 45px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(186, 186, 186);
    border-top: none;
    border-right: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  nav a {
    border-right: 1px solid rgb(186, 186, 186);
    position: relative;
    display: flex;
    align-items: center;
    
  }
  #BBCImg {
    padding-right: 15px;
    margin-left: 15px;
  }
  #BBCImg img {
    height: auto;
    width: 100px;
    padding-top: 2px;
  }
  #nav-sign-in {
    height: 100%;
    padding: 0 110px 0 15px;
    color: #ffffff;

  }
  #nav-sign-in-text {
    position: absolute;
    left: 45px;
    
  }
  #nav-sign-in i {
    padding-right: 5px;
  }
 
  #nav-search {
    height: 100%;
    padding-right: 15px;
    margin-right: 15px;
    color: #ffffff;

  }
  #nav-search i {
    padding: 0 10px 0 15px;
    
  }
  #main-nav {
    display: flex;
    height: 100%;
    color: #ffffff;

  }
  .main-nav-entry {
    height: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;

   
  }
  .fa-caret-down {
    margin-left: 10px;
  }
 
  
  .main-nav-entry div{
    color: #ffffff;

}
  #cross-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    cursor: pointer;
  }
  #cross-icon:hover {
    background-color: #005bc8;
    color: white;
  }
 
 
  .nav-line {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
  }
  .nav-blue {
    background-color: #007bc7;
  }
  .nav-dark-blue {
    background-color: #006def;
  }
  .nav-black {
    background-color: #3f3f42;
  }
  .nav-red {
    background-color: #bb1919;
  }
  .nav-yellow {
    background-color: #ffd230;
  }
  .nav-light-blue {
    background-color: #88ccee;
  }
  .nav-pink {
    background-color: #ed3d7d;
  }
  .nav-orange {
    background-color: #ff4900;
  }
  .nav-green {
    background-color: #90d200;
  }
  .nav-yellow {
    background-color: #ffe513;
  }
  a:hover .nav-line {
    display: block;
  }
  
 
  
  
  body {
    background-color: #eeeeee;
    
  }
  .document-container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
  }
  .center-content {
    width: 1330px;
  }
  #BBCTitle {
    background-color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
  }
  
  .title-text {
    font-size: 40px;
  }
  
  .opening-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .opening-cards > a {
    background-color: white;
  }
  .opening-cards > a:hover {
    color: #006def;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
  }
  .first-card {
    grid-column: 1/3;
  }
  .first-card .card-img-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  .first-card img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .first-card p {
    font-size: 38px;
    text-align: center;
    margin: 10px 10px;
  }
  .first-card:hover p {
    color: yellow;
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  .opening-cards > a:nth-child(n + 2) .card-img-container {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  .opening-cards > a:nth-child(n + 2) img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .opening-cards > a:nth-child(n + 2) p {
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
  }
  
  